.navigation {
	flex: 0.25;
}

.navigation__title {
	display: flex;
	align-items: center;
	width: fit-content;
	padding: 15px;
	border-radius: 30px;
}

.navigation__titleIcon {
	padding-right: 15px;
}

.navigation__titleIcon:hover {
	cursor: pointer;
	color: var(--main-color);
	transition: all 250ms ease-in-out;
	transition-property: color, background-color;
}

/* @media screen and (min-width: 768px) {
	.navigation {
		width: 0;
	}
} */