.post {
    display: flex;
    padding: 10px;
    border-top: 2px solid grey;
}

.post__avatar {
    font-size: 50px;
    flex: 0;
}

.post__content {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin: 0 20px;
}

.post__displayName {
    font-weight: bold;
}

.post__username {
    margin-left: 10px;
}